<!DOCTYPE html>
<html>
    <head>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="../static/js/jquery-3.2.1.min.js"></script>
         <script src="../static/d3-tip.js"></script>
        <script type="text/javascript" src="../static/js/dataPlot.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/styling.css" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>

    <body>
        <div class="titleBox">
            <img src="../static/images/WreckRepoLogo.png" class="logo-Map"/>
        </div>

        <div class="map">
            <!--<img class="mapImg" src="images/Map.png">-->
        </div>
    </body>

</html>